<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFail2RdpWCFService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Fail2Rdp/service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFail2RdpWCFService" contract="Fail2RdpService.IFail2RdpWCFService"
                name="WSHttpBinding_IFail2RdpWCFService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-GC4IGVJ" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>